$color_background: #36725e;
$color_secondary: #725f08;
$color_primary: #ecb159;
$color_highlight: #e6e5aa;
$color_text: #ffffff;

$color_toast: rgb(1, 209, 209);
$color_warning: orange;
$color_error: red;