@import "../../styles/variables";

.prediction {
  padding: 1rem 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;

  border-radius: 1000px;

  span {
    font-size: 6vw;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
  }

  .favButton {
    position: absolute;
    right: .75rem;
    top: 50%;
    transform: translate(0%, -50%);

    span {
      color: $color_toast;

      &.fav {
        color: $color_error;
      }
    }
  }
}