@import "../../styles/variables";

.wrapper {
  z-index: 1000;
  position: fixed;
  top: .5rem;
  right: .5rem;
  width: fit-content;
  max-width: 150px;
  display: flex;
  flex-direction: column;

  .toast {
    width: fit-content;
    background-color: $color_toast;
    padding: 0 1rem;
    border-radius: .5rem;
    animation: appear .4s forwards ease;
    overflow: hidden;
    margin-bottom: 0;

    user-select: none;

    display: grid;
    grid-template-rows: 0fr;

    div {
      overflow: hidden;
      display: flex;
      align-items: center;
    }

    &.expired {
      animation: disappear .4s forwards ease;
    }

    &.wrn {
      background-color: $color_warning;
    }

    &.err {
      background-color: $color_error;
    }
  }
}

@keyframes appear {
  to {
    padding: .5rem 1rem;
    grid-template-rows: 1fr;
    margin-bottom: .5rem;
  }
}

@keyframes disappear {
  from {
    padding: .5rem 1rem;
    grid-template-rows: 1fr;
    margin-bottom: .5rem;
  }

  to {
    grid-template-rows: 0fr;
    padding: 0 1rem;
    margin-bottom: 0;
  }
}