@import "../../styles/variables";

.button {
  font-size: 10vw;
  aspect-ratio: 1 / 1;
  width: fit-content;
  padding: 4vw;
  border-radius: 1000px;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  background-color: $color_primary;

  &:active {
    color: $color_primary;
    background-color: $color_highlight;
  }

  &:disabled {
    opacity: 0.5;
    animation: spin 1s infinite ease;
  }
}

@keyframes spin {
  0% {
    rotate: -30deg;
  }
  50% {
    rotate: 30deg;
  }
  100%{
    rotate: -30deg;
  }
}
