@import "../../styles/variables";

.wrapper {

  --top-bar-height: 3rem;
  z-index: 5;
  position: fixed;
  top: calc(100% - var(--top-bar-height));
  left: 0;
  width: 100%;
  height: fit-content;

  color: $color_text;
  background-color: $color_secondary;

  transition: 0.2s;

  .closer {
    height: 0;
  }

  &.show {
    transform: translateY(calc(-100% + var(--top-bar-height)));

    .closer {
      position: absolute;
      height: 100vh;
      bottom: 100%;
      width: 100%;
    }
  }



  .topBar {
    width: 100%;
    height: var(--top-bar-height);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $color_highlight;
    font-weight: bold;
    cursor: pointer;

    background-color: rgba(black, 0.5);
  }
}